        /* Estilos del video de fondo */
        body, html {
            margin: 0;
            padding: 0;
            height: 100%;
            overflow: hidden;
            font-family: 'Courier New', Courier, monospace;
            color: #00FF00;
        }

        header {
            text-align: center;
            padding: 20px;
            position: relative;
            z-index: 1; /* Asegúrate de que el encabezado esté sobre el video */
        }

        /* Contenedor del video */
        .video-background {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            overflow: hidden;
        }

        video {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        /* Estilo del contenido en el centro */
        .content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 50%;
            text-align: center;
            z-index: 1; /* Asegúrate de que el contenido esté sobre el video */
        }

        /* Temporizador */
        #countdown {
            font-size: 4em;
            margin: 20px 0;
        }

        /* Estilo del mensaje confidencial */
        .confidential {
            font-size: 1.5em; /* Puedes ajustar este valor para cambiar el tamaño del texto */
            border: 2px solid #00FF00;
            padding: 20px;
            background: rgba(0, 0, 0, 0.7);
        }